body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    perspective: 800px;
    background-image: linear-gradient(rgb(211, 166, 166),rgb(148, 241, 255)
    );
    overflow: hidden;
    font-family: 'Gugi', monospace;

}



#cube-container {
    width: 20rem;
    height: 20rem;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin-bottom: 20px;
    top: 600px;
   
}

.face {
    position: absolute;
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(3,minmax(auto,1fr));
    align-items: center;
    justify-content: center;
    background-color: rgba(195, 255, 251, 0.9) ;
    border: 1px solid rgba(138, 141, 206, 0.25);
    transform: translate(-50%,-50%);
}


.button{
    left: 25%;
    text-align: center;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    position: relative;
    height: 2rem;
    width: 2rem;
    /* background-color: rgb(225, 225, 225); */
    border-radius: 15%;
    font-size: 15px;
    color: rgb(234, 0, 255);
    text-align: right;
}

#website-link{
    color: rgb(0, 200, 200,.4);
    cursor: pointer;
    font-size: 4rem;
}

.button:hover{
    transform: scale(1.2) ;
    transition: 0.3s linear;
}


.rota{
    position: absolute;
    top: 10%;
    right: 10%;
    transform-style: preserve-3d;
    background-color: red;
}

.front { transform: translateZ(10rem);  }
.back { transform: rotateY(180deg) translateZ(10rem); }
.left { transform: rotateY(-90deg) translateZ(10rem); }
.right { transform: rotateY(90deg) translateZ(10rem); }
.top { transform: rotateX(90deg) translateZ(10rem); }
.bottom { transform: rotateX(-90deg) translateZ(10rem); }

.contain{
    position: absolute;
    height: 100%;
    bottom: 10%;
    /* background-color: red; */
    left: 5%;
    width: 20rem;
    align-items: center;
    justify-content: center;

}

.dp{
    position: relative;
    top: 15%;
    right: 2%;
    height: 5rem;
    z-index: 9;
    background-color: rgb(232, 255, 232,0.7);
    text-align: center;
    font-size: 2em;
    line-height: 2.5em;
    box-shadow: rgb(139, 130, 143) 0px 0px 10px 5px;
}


.keypad{
    position: relative;
    width: 20%;
    height: 30%;
    left: 50%;
    top: 75%;
    /* background-color: beige; */
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(3,6rem);
    gap: 10px;
    justify-content: center;
    z-index: 5;
}



input {
    font-size: 1.5em;
    text-align: center;
    display: none;
    line-height: 1em;
}




#num {
    width: 80px;
    height: 80px;
    background-size: cover;
    border: none;
    cursor: pointer;
    outline: none;;
    border-radius: 15px;
    background-color: aquamarine;
    z-index: 99;
    font-size: 2rem;
    box-shadow: rgb(139, 130, 143) 0px 0px 10px 2px;
    font-family: 'Gugi', monospace;
}





.bb{
    position: absolute;
    width: 100%;
    right: 3%;
    align-items: center;
    bottom: 0;
    z-index: 1;
}

.controls {
    position:relative;
    bottom: 50%;
    left: 85%;
    display:grid;
    grid-template-columns: 5rem 5rem;
    grid-column-gap: 10%;
    grid-row-gap: 10%;
    width: 10rem;
    height: 10rem;
    transform: rotate(45deg) translate(-50%,-50%);
}


.txt{
    position: absolute;
    width: 14vw;
    height: 7vh;
    background-color: rgb(99, 255, 182,0.8);
    text-align: center;
    left: 86.3%;
    top: 10%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    line-height: 4rem;
    cursor: pointer;
    transition: .5s linear;
    transform-origin: center;


    &:hover{
        scale: 1.3;
    }
}

#over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 12;
    cursor: auto;
}

.ex {
    position: absolute;
    left: 70%;
    top: 15%;
    width: 27vw;
    height: 10vh; 
    text-align: center;
    display: none; 
    z-index: 14;
    font-size: 3rem;
    line-height: 5rem;
    cursor: pointer;
    word-break: keep-all;
   
}



.btn{
    position: relative;
    width: 5rem;
    height: 5rem;
    background-color: rgb(169, 204, 255);
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.2);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: colorChange 3s infinite;
}

@keyframes colorChange{
    0%{background-color: rgba(43, 43, 43, 0.5);}
    25%{background-color: rgba(30, 239, 208, 0.5);}
    50%{background-color: rgba(174, 139, 255, 0.5);}
    75%{background-color: rgba(255, 85, 85, 0.5);}
    100%{background-color: rgba(43, 43, 43, 0.5);}
}






#alert-box {
    font-size: 2rem;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50rem;
    justify-content: center;
}



.ass{
    height: 90%;
    transform: translate(7%,0%);
    scale: 280%;
}

.ass-1{
    height: 90%;
    transform: translate(7%,0%);
    scale: 280%;
    cursor: pointer;
}

.ass-2{
    height: 90%;
    transform: translate(7%,0%);
    scale: 280%;
    cursor: pointer;
}

.answer{
    position: absolute;
    width: 70%;
    height: 10vh;
    z-index: 4;
    bottom: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    font-size: 4rem;
    justify-content: space-around;
    color: white;
}

.first{
    position: relative;
    text-align: center;
    display: none;
    bottom: 800%;
    opacity: .4;
    cursor: pointer;
    width: 100px;
    left: 40%;

    &:hover {
        opacity: 1; /* Change the opacity on hover */
    }
}

.second{
    position: relative;
    text-align: center;
    display: none;
    opacity: .4;
    width: 100px;
    left: 50%;
    cursor: pointer;

    &:hover {
        opacity: 1; /* Change the opacity on hover */
    }
}

.highlight{
    color: red;
}